#-----------------------------------------------------------------------
# initiate:   systemctl enable aehostd-ph.service
# start:      systemctl start aehostd-ph.service
# get status: systemctl status aehostd-ph.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=Privileged helper service for AE-DIR
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
PIDFile={{ aehostd_pid_file|dirname }}/aehostd-ph.pid
User=root
Group=root
# let Python use random object identifier
Environment=PYTHONHASHSEED=random
# full optimization (especially __debug__ = False)
Environment=PYTHONOPTIMIZE=2
# avoid to accidentially write Python byte code
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart={{ aehostd_exec }}-ph --no-fork --config {{ aehostd_conf_file }} --pid {{ aehostd_pid_file|dirname }}/aehostd-ph.pid
Restart=always
StandardError=syslog
# various hardening options
CapabilityBoundingSet=CAP_DAC_OVERRIDE CAP_FOWNER CAP_CHOWN
AmbientCapabilities=CAP_DAC_OVERRIDE CAP_FOWNER CAP_CHOWN
LockPersonality=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
NoNewPrivileges=yes
MountFlags=private
LockPersonality=yes
RestrictNamespaces=yes
KeyringMode=private
SystemCallArchitectures=native
SystemCallFilter=~ madvise @clock @cpu-emulation @debug @keyring @module @mount @raw-io @reboot @swap @obsolete
RestrictAddressFamilies=AF_UNIX

{% if apparmor_enabled %}
#AppArmorProfile=aehostd-ph
{% endif %}

[Install]
WantedBy=multi-user.target
