# Configuration for AE-DIR's custom NSS/PAM host demon
#
# {{ ansible_managed }}

[aehostd]

# The user and group to run as
uid = {{ aehostd_uid }}
gid = {{ aehostd_gid }}

# where process ID (PID) is stored
pidfile = {{ aehostd_pid_file }}

# pathname of Unix domain socket
socketpath = {{ aehostd_socket }}

# The location at which the LDAP server(s) should be reachable
# these LDAP URIs are tried first in this order no matter what
uri_list = {{ ldap_uri_list|join(' ') }}
# these LDAP URIs are tried after all in uri_first failed
# (to balance load this list will be rotated based on FQDN hash)
uri_pool = {{ ldap_uri_pool|join(' ') }}

# The location at which the LDAP server(s) should be reachable.

# preferred short bind-DN form (relocatable)
binddn = host={{ inventory_hostname }},{{ ldap_suffix }}
# pathname of file containing password for the above binddn
bindpwfile = {{ aehostd_pw_file }}

# TLS options
tls_cacertfile = {{ ldap_cacert_pathname }}

# local password changes not allowed
pam_passmod_deny_msg = Changing password on local system is not allowed for this user!

# Check the SSH client's hostname in user entry
pam_authz_search = {{ pam_authz_search }}

# maximum time to wait for connection and search results
timelimit = 6

# cache TTL for the synchronous LDAP searches
cache_ttl = 5.0

# pathname for sudoers export file
sudoers_file = {{ aehostd_sudoers_file }}

# where to write SSH authorized keys
sshkeys_dir = {{ aehostd_sshkeys_dir }}
