# {{ ansible_managed }}
#
# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.

# The user and group nslcd should run as.
uid nslcd
gid nslcd

# log scheme
log syslog info

# The LDAP protocol version to use.
ldap_version 3

# The location at which the LDAP server(s) should be reachable.
uri {{ ldap_uris|join(' ') }} {{ ldap_backup_uris|join(' ') }}

# The search base that will be used for all queries.
base {{ ldap_suffix }}
# The search scope.
scope sub

# do not dereference LDAP aliases
deref never
# do not follow referrals
referrals no

# The DN to bind with for normal lookups.
# preferred short bind-DN form (relocatable)
binddn host={{ inventory_hostname }},{{ ldap_suffix }}
bindpw {{ ldap_host_password }}

# SSL options
#ssl on
tls_reqcert demand
tls_cacertfile {{ ldap_cacert_pathname }}

# minimum UID or GID retrieved from LDAP server
nss_min_uid {{ ldap_min_uid }}

# no recursive lookup of nested groups
nss_nested_groups no

# disable enumeration
nss_disable_enumeration no

# request password policy controls
pam_authc_ppolicy yes

# local password changes not allowed
pam_password_prohibit_message "Changing password on systems is not allowed!"

# Check the SSH client's hostname in user entry
pam_authz_search {{ pam_authz_search }}

# hosts map: canonical hostname read from attribute 'aeFqdn'
map hosts cn aeFqdn
