#%PAM-1.0
#
# {{ ansible_managed }}
# All changes will be overwritten.
#
# Password-related modules common to all services
#
# This file is included from other service-specific PAM config files,
# and should contain a list of modules that define  the services to be
# used to change user passwords.
#
password	requisite	pam_cracklib.so
session	sufficient	pam_ldap.so	try_first_pass minimum_uid={{ ldap_min_uid }}
session	required	pam_unix.so use_authtok nullok shadow use_first_pass
